*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li,a{
    text-decoration: none;
    
}
.flex{
    display: flex;
}
.blue-dot{
    color: #0081FF;
    font-size:33px;
    line-height: 33px;
}
.resume-template{
    color: #B3B3B3;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}
.top-section{
    background-color: #DDDDDD;
    padding: 3rem;
    justify-content: space-between;
}

.noladin{
    font-size: 158.3px;
   
}
.top-section-aboutme{
    color: #373737;
    position: absolute;
    font-size: 43px;
    white-space: nowrap;
    top:3em;
}
.noladin-box{
    font-family: poppins;
    position: relative;
    text-align: center;
    bottom: 4em;
    right: 9em;
}
.roca-for-font{
    font-family: poppins;
}
.resume-template{
    font-family:Montserrat;
}
.slider{
    justify-content:flex-start;
}
.social-icons{
    margin-left: 4rem;
}
.social-icons h2{
    margin-top: 2rem;
    font-family: Glacial Indifference;
}
.social-icons h2{
    font-size: 71px;
}
.social-icons h4{
    font-size: 23px;
}
.social-icons img{
    margin-left: 1rem;
}
.social-icons-boxinside{
    align-items: center;
    margin-top: 3rem;
}
.satisfied-clients{
    display: flex;
    flex-direction: column-reverse;
    white-space: nowrap;
    font-size: 24px;
    font-family:Montserrat-bold;
}
.satisfied-clients span{
    color: #E93656;  
}
.pink-bar{
    max-width: 300px;
    height: 6px;
    background-color: #E93656;
    border-radius: 30px;
    margin-top: 26px;
}
.slider-item{
    display: none; 
}
.slider-item.active{
    display: block;
}
@media(max-width: 1366px) {
    .slider{
        flex-direction: column;
        align-items: center;
    }
    .satisfied-clients{
        padding-top: 20px;
        margin-left: 4rem;
    }
    .more-info-about-me{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;   
    }
    .my-info button{
        margin:2rem auto;
    }
    .social-icons h4{
        text-align: center;
    }
    .social-icons-boxinside{
        justify-content: center;
    }
    
}
@media(max-width:960px){
    .avatar{
        max-width: 80%;
        
    }
    .slider{
        align-items: center;
        padding-left: 100px;
    }
    .noladin {
        margin-top: 100px;
        align-items: center;
    }
    .top-section-aboutme{
        margin-top: 100px;
        align-items: center;
    }
    .top-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .noladin-box{
        margin-left: 50%;
    }
    .roca-box{
        margin-left:20%;
    }
    .more-info-about-me{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .my-image{
        max-width: 75%;
    }
    .dynamic-contact{
        flex-direction: column;
    }
    .dynamic-contact-chld{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media(max-width:504px){
    .social-icons h2{
        font-size: 31px;
    }   
    .social-icons h4{
        font-size: 12px;
    }   
}
.more-info-about-me p{
    max-width: 334px;
    min-height: 149px;
}
.more-info-about-me{
    padding: 5rem;
}
.progress-bars{
    flex-direction: column;
    justify-content: center;
}

.my-info{
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.my-info h2{
    text-align: right;
}
.my-info h4{
    margin-bottom: 33px;
    color: #DAAE19;
}
.my-info button{
    width: 152px;
    height: 50px;
    border: none;
    color:black;
    padding: 10px;
    font-size: 15px;
    position: relative;
    transition: all 500ms ease; 
    font-family: Glacial Indifference;
    margin-top: 60px;
    cursor: pointer;
}
button:hover{
    background:#E93656;
    color: white;
  }
.my-image{
    margin:0 80px;
}
.social-icons-small{
    margin-top: 78px;
}
.social-icons-small-box{
    background-color: #F9F9F9;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
    transition: all 500ms ease; 
}

.social-icons-small-box:hover{
    background:#15263E;
}

.progress-bars label{
    margin-top: 24px;
    font-size: 20px;
    margin-bottom: 15px;
}
.progress-bars progress{
    margin-bottom: 28px;
    
    height: 9px;
    
}
 /* For Chrome or Safari */
 progress::-webkit-progress-bar {
    background-color: #eeeeee;
    
}

progress::-webkit-progress-value {
    background-color: #f1176b !important;
    
}


/* For Firefox */
progress {
    background-color: #E93656;
    
}

progress::-moz-progress-bar {
    background-color: #E93656 !important;
    
}

/* For IE10 */
progress {
    background-color:#E93656;
    
}

progress {
    background-color:#E93656;
    
}
.percentage-pink{
    color:#E93656 ;
   
}

.dp-none{
    display:none;

}
.dynamic-contact{
    max-width: 1920px;
    min-height: 210px;
    background-color: #131A36;
    color: white;
    justify-content: center;
    align-items: center;
}

.dynamic-contact-chld{
    padding: 0 40px;
  
}
.dynamic-contact-chld a{
    margin-right: 30px;
}
.dynamic-contact-chld h2,p{
    padding-bottom: 10px;
}
.dynamic-contact-chld a{
    transition: all 500ms ease;
    border-radius: 50%;
}
.dynamic-contact-chld a:hover{
    background:  #E93656;
}