*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li,a{
    text-decoration: none;
    list-style-type: none;
}
.flex{
    display: flex;
}
.blue-dot{
    color: #0081FF;
    font-size:33px;
    line-height: 33px;
}
.resume-template{
    color: #B3B3B3;
}
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}
.top-section{
    background-color: #DDDDDD;
    padding: 3rem;
    justify-content: space-between;
}

.noladin{
    font-size: 158.3px;
   
}
.top-section-aboutme{
    color: #373737;
    position: absolute;
    font-size: 43px;
    white-space: nowrap;
    top:3em;
}
.noladin-box{
    font-family: poppins;
    position: relative;
    text-align: center;
    bottom: 4em;
    right: 9em;
}
.roca-for-font{
    font-family: poppins;
}
.resume-template{
    font-family:Montserrat;
}
.slider{
    justify-content:flex-start;
}
.social-icons{
    margin-left: 4rem;
}
.social-icons h2{
    margin-top: 2rem;
    font-family: Glacial Indifference;
}
.social-icons h2{
    font-size: 71px;
}
.social-icons h4{
    font-size: 23px;
}
.social-icons img{
    margin-left: 1rem;
}
.social-icons-boxinside{
    align-items: center;
    margin-top: 3rem;
}
.satisfied-clients{
    display: flex;
    flex-direction: column-reverse;
    white-space: nowrap;
    font-size: 24px;
    font-family:Montserrat-bold;
}
.satisfied-clients span{
    color: #E93656;  
}
.pink-bar{
    max-width: 300px;
    height: 6px;
    background-color: #E93656;
    border-radius: 30px;
    margin-top: 26px;
}
.slider-item{
    display: none; 
}
.slider-item.active{
    display: block;
}
@media(max-width: 1366px) {
    .slider{
        flex-direction: column;
        align-items: center;
    }
    .satisfied-clients{
        padding-top: 20px;
        margin-left: 4rem;
    }
    .more-info-about-me{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;   
    }
    .my-info button{
        margin:2rem auto;
    }
    .social-icons h4{
        text-align: center;
    }
    .social-icons-boxinside{
        justify-content: center;
    }
    
    .articles{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-left: a;
}

@media (max-width:1040px){
    .avatar{
        max-width: 80%;
        
    }
    .slider{
        align-items: center;
        padding-left: 100px;
    }
    .noladin {
        margin-top: 100px;
        align-items: center;
    }
    .top-section-aboutme{
        margin-top: 100px;
        align-items: center;
    }
    .top-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .noladin-box{
        margin-left: 50%;
    }
    .roca-box{
        margin-left:20%;
    }
    .more-info-about-me{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .my-image{
        max-width: 75%;
    }
    .dynamic-contact{
        flex-direction: column;
    }
    .dynamic-contact-chld{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .rosa-team-container{
        flex-direction: column;
        align-items: center;
    }
    .rosa-team-logos-box{
        margin-top: 70px;
    }
    .form-reg{
        width: 70%;
    }
    .social-icons-footer{
        width: 70%;
        margin: auto;
    }
    }
}
@media(max-width:504px){
    .social-icons h2{
        font-size: 31px;
    }   
    .social-icons h4{
        font-size: 12px;
    }  
    
}
.more-info-about-me p{
    max-width: 334px;
    min-height: 149px;
}
.more-info-about-me{
    padding: 5rem;
}
.progress-bars{
    flex-direction: column;
    justify-content: center;
    font-family:Glacial Indifference ;
}

.my-info{
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.my-info h2{
    text-align: right;
}
.my-info h4{
    margin-bottom: 33px;
    color: #DAAE19;
}
.my-info button{
    width: 152px;
    height: 50px;
    border: none;
    color:black;
    padding: 10px;
    font-size: 15px;
    position: relative;
    transition: all 500ms ease; 
    font-family: Glacial Indifference;
    margin-top: 60px;
    cursor: pointer;
}
button:hover{
    background:#E93656;
    color: white;
  }
.my-image{
    margin:0 80px;
}
.social-icons-small{
    margin-top: 78px;
}
.social-icons-small-box{
    background-color: #F9F9F9;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
    transition: all 500ms ease; 
}

.social-icons-small-box:hover{
    background:#15263E;
}

.progress-bars label{
    margin-top: 24px;
    font-size: 20px;
    margin-bottom: 15px;
}
.progress-bars progress{
    margin-bottom: 28px;
    
    height: 9px;
    
}
 /* For Chrome or Safari */
 progress::-webkit-progress-bar {
    background-color: #eeeeee;
    
}

progress::-webkit-progress-value {
    background-color: #f1176b !important;
    
}


/* For Firefox */
progress {
    background-color: #E93656;
    
}

progress::-moz-progress-bar {
    background-color: #E93656 !important;
    
}

/* For IE10 */
progress {
    background-color:#E93656;
    
}

progress {
    background-color:#E93656;
    
}
.percentage-pink{
    color:#E93656 ;
   
}

.dp-none{
    display:none;

}
.dynamic-contact{
    max-width: 1920px;
    min-height: 210px;
    background-color: #131A36;
    color: white;
    justify-content: center;
    align-items: center;
}

.dynamic-contact-chld{
    padding: 0 40px;
  
}
.dynamic-contact-chld a{
    margin-right: 30px;
}
.dynamic-contact-chld h2,p{
    padding-bottom: 10px;
}
.dynamic-contact-chld a{
    transition: all 500ms ease;
    border-radius: 50px;
    
}
.dynamic-contact-chld a:hover{
   background-color:  #E93656;
   border-radius:50px;
   margin-bottom: 20px;
}
.service{
    justify-content: center;
    flex-wrap: wrap;
}
.service-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 285px;
    min-height: 360px;
    background-color:#FAFAFA;
    justify-content: center;
    margin:10px;
    font-family:Glacial Indifference;
    position: relative;
}
.service-box img{
    margin-bottom: 15px;
}
.service-wrapper{
    margin-top: 203px;
}
.service-animation{
        padding-top: 130px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background:#15263E;
        color: #fff;
        visibility: hidden;
        opacity: 98;
        transition:all opacity .2s, visibility .2s;
      }
.service-box:hover .service-animation{
  visibility: visible;
  opacity: 1;
} 
.service-animation h2{
    margin-bottom: 10px;
}
.recomendation-wrapper{
    width: 100%;
    max-width: 1920px;
    margin-top: 9rem;
    background: url('../photo/clip.jpg');
}
.recomendation p{
    max-width: 497px;
    font-family: Roboto-light;
    color: white;
}
.recomendation{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0;
    position: relative;
    max-width: 800px;
    min-height: 400px;
}
.recomendation img{
    margin:0 65px;
    margin-bottom: 10px;
}
.recomendation-quote{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:flex-end;
}
.recomendation-quote h2{
    margin-top: 12px;
    color: white;
    font-family:Glacial Indifference;
}
.reccomendation-btn{
    flex-direction: column;
    margin-left: 30px;
    position: absolute;
    z-index: 20;
    left: 150%;
}
.reccomendation-btn div{
    width: 13px;
    height: 13px;
    border: 1px solid white;
    margin-bottom: 12px;
    cursor: pointer;
}
.reccomendation-btn div:hover{
    border-color: #E93656;
}
.slides{
    display: flex;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 100%;
    left: 50%;
    visibility: hidden;
}
.green{
    z-index: 20;
    visibility: visible;
}
.recomendation-quote h4{
    color: #E93656;
    font-family: roboto;
}
.dotted-image{
    border: 3px dotted white;
    border-radius: 50%;
    padding: 15px;
}
.category-names{
    max-width: 240px;
    height: 401px;
    background-color: #15263E;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.latest-project-box{
    justify-content: center;
}
.latest-projects-container h2{
    text-align: center;   
    font-size: 70px; 
    margin-top: 100px;
    margin-bottom: 50px;
    font-family:Glacial Indifference;
}
.category-names li{
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
    font-family:Glacial Indifference;
    cursor: pointer;
}
.category-names li:hover{
   color: #E93656;
}
.category-images{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: #555555;
    align-items: center;
    margin-left: 30px;
}
.category-image-box{
    position: relative;
    display: none;
}
.category-images-text{
    position: absolute;
    left:40%;
    top:50%;
    color: white;
    font-size: 23px;
    font-family: Glacial Indifference;
    text-align: center;
}
.category-image-heart{
    position: absolute;
    left:50%;
    top:20%
}
.heart-icon{
    border:2px solid #E93656;
    padding: 10px;
    border-radius:50%;
}
.category-image-box h6{
    text-align: center;
    font-size: 11px;
    color: #DDDDDD;
    margin-bottom: 7px;
    font-family: muli;
}
.category-image-box >img{
    opacity: 50%;
}
.category-names ul li.latest-active{
    color: #E93656;
}
.show{
    display: block;
}
.latest-articles{
    margin-top: 10rem;
}
.latest-articles-header{
    text-align: center;
    margin-bottom: 8rem;
}
.latest-articles-header h2{
    font-size: 70px;
    font-family:Glacial Indifference;
}
.latest-articles-header h4{
    color: #2ED279;
    font-family:Glacial Indifference;
}
.black-kubik{
    max-width: 123px;
    height: 637px;
    background-color: #15263E;  
    writing-mode: vertical-rl;
    text-orientation: mixed;
    line-height: 100px;
    text-align: center;
    transform: rotate(180deg);
    color: #E93656;
}
.article-text{
    text-align: left;
    padding: 7rem;
    background-color: #FAFAFA;
}
.article-text p{
    max-width: 569px;
    font-family:muli;
}
.articles{
    justify-content: flex-end;
}
.article-text h2,h4,p{
    margin-top: 10px;
}
.minus-margin{
    margin-right: -70px;
}
.article-text h2{
    font-size: 40px;
    font-family:Glacial Indifference ;
}
.article-text h4{
    font-size: 14px;
    color: #888888;
    font-family: muli;
}
.rosa-team-logos-box{
    position: relative;
    
}
.rosa-team-logos-text{
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    height: 190px;
    width: 230px;
    border: 4px solid #E93656;
    opacity: 0;
    transition: opacity 0.25s;
    padding: 35px;
    cursor: pointer;
}
.rosa-team-logos-text:hover{
    opacity: 1;
    background-color: white;
}
.rosa-team-header{
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.rosa-team-container{
    justify-content: space-evenly;
}
.rosa-team-logos-box img{
    margin-left: 60px;
}
.rosa-team-logos-text p{
    color: #626262;
    font-family: roboto;
    font-size: 13px;
}
.rosa-team-logos-text h2{
    font-family: poppins;
    font-size: 16px;
}
.rosa-team-header h6{
    margin-bottom: 5px;
    color: #2ED279;
    font-size:14 ;
    font-family:Glacial Indifference ;
}
.rosa-team-header h2{
    font-size: 70px;
    font-family:Glacial Indifference ;
}
.map{
    margin-top: 7rem;
    background: url('../photo/map.jpg');
}

.registration-form{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 660px;
    flex-direction: column;  
}    
.form-reg{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    max-width: 900px;
}
input{
    width: 290px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    font-family: poppins;
}
.textarea{
    margin-left: 5px;
    text-align: left;
    padding: 5px;
}
.map-container{
    background-color: #000000;
    opacity: 71%;
}
.pink-btn{
    padding: 18px;
    background: transparent;
    color:red;
    border: 2px solid red;
    opacity: 100%;
    margin-top: 50px;
    width: 187px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.contact-us{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.contact-us h2{
    font-family: Jaapokki;
    font-size: 45px;
}
.contact-us p{
    font-family: roboto;
    font-size: 17px;
}
.roca-btm{
    text-align: center;
    max-width: 613px;
    margin: auto;
    padding-top: 6rem;
    margin-bottom: 35px;
}
.roca-btm>h2{
    font-family: poppins;
    font-size: 55px;
    color: white;
}
.roca-btm>p{
    font-family: roboto;
    color: #A5A5A5;
}
.dot{
    color: #E93656;
    margin-left: -10px;
}
.roca-container{
    background-color: #282828;
}
.social-icons-footer{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.social-icons-footer > a{
    padding: 10px;
}
footer{
    background-color: #171717;
    height: 81px;
}
footer>h3{
    color:#A0A8B7;
    text-align: center;
    padding-top: 30px;
    font-family: muli;
    font-size: 15px;
}
.white-rosa{
    color: white;
}