*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li,a{
    text-decoration: none;
    
}
.flex{
    display: flex;
}
.blue-dot{
    color: #0081FF;
    font-size:33px;
    line-height: 33px;
}
.resume-template{
    color: #B3B3B3;
}
.container{
    max-width: 100%;
    width: 1920px;
    margin: 0 auto;
}
.top-section{
    background-color: #DDDDDD;
    padding: 3rem;
    justify-content: space-between;
}

.noladin{
    font-size: 158.3px;
   
}
.top-section-aboutme{
    color: #373737;
    position: absolute;
    font-size: 43px;
    white-space: nowrap;
    top:3em;
}
.noladin-box{
    font-family: poppins;
    position: relative;
    text-align: center;
    bottom: 4em;
    right: 9em;
}
.roca-for-font{
    font-family: poppins;
}
.resume-template{
    font-family:Montserrat;
}
.slaider{
    justify-content:flex-start;
}
.social-icons{
    margin-left: 4rem;
}
.social-icons h2, h4, img{
    margin-top: 2rem;
    font-family: Glacial Indifference;
}
.social-icons h2{
    font-size: 71px;
}
.social-icons h4{
    font-size: 23px;
}
.social-icons img{
    margin-left: 1rem;
}
.social-icons-boxinside{
    align-items: center;
}
.satisfied-clients{
    display: flex;
    flex-direction: column-reverse;
    white-space: nowrap;
    font-size: 24px;
    font-family:Montserrat-bold;
}
.satisfied-clients span{
    color: #E93656;
}
.pink-bar{
    width: 340px;
    height: 6px;
    background-color: #E93656;
    border-radius: 30px;
    margin-top: 26px;
}